@media (max-width: 600px) {
  .container {
    width: 96%;
  }

  #nav {
    flex-direction: column;
  }

  #nav .nav-links {
    justify-content: space-evenly;
    margin-top: 0.5rem;
  }

  #nav .nav-links li {
    margin: 0;
  }
  #details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #details .detail-image {
    order: 1;
    width: 100%;
    padding: 2rem;
  }

  #details .detail-info {
    order: 2;
    width: 100%;
    padding: 2rem 0 3rem;
  }

  #details .detail-info h1 {
    font-size: 2.75rem;
  }
  #details .detail-info h3 {
    margin: 1rem 0;
  }

  .detail-image img {
    height: 150px;
    width: 150px;
  }

  #about .container {
    flex-direction: column;
  }

  #about aside {
    padding: 2rem 0;
  }

  #work .project-grid {
    grid-template-columns: 1fr;
  }

  #contact form {
    width: 100%;
  }

  #footer .container {
    flex-direction: column;
  }
  #footer .social-links {
    margin-bottom: 2rem;
  }
}
